body {
    font-size: 16px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}
h1,h2,h3,h4,h5,h6 {
    font-weight: 400;	
}

.contenido {
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    height: calc(90vh - 1rem);
}

.table-container{
    width: 60%;
    height: 100%;
    overflow-y: auto;
}

.form-container{
    width: 30%;
}

.paquete1 h2{
    text-align: center;
}

.paquete1 button {
    float: right;
    margin-right: 20px;
    color: whitesmoke;
    background-color: #34495e;
    border: none;
    font-size: 16px;
    padding: 7px;
    margin-bottom: 5px;
    margin-top: 5px;
    outline: none;
}

.paquete1 button i {
    margin-right: 4px;
}

.paquete1 button:hover {
    background-color: green;
}

.paquete1 table{
    border: none;
    border-top: solid 1px black;
    width: 95%;
    text-align: center;
    margin: auto;
}

.paquete1 table tr td {
    border-bottom: solid 1px black;
}


.paquete2 h2 {
    text-align: center;
}
.paquete2 label{
    display: inline-block;
    margin-top: 1rem;
    text-align: left;
}
.paquete2 input {
    display: inline-block;
    width: 325px;
    color: black;
    border: none;
    border-bottom: solid black 2px;
    height: 35px;
    margin-bottom: 1rem;
    padding-left: .5rem;
    font-family: 'Baloo Da 2', cursive;
    font-size: 15px;
    outline: none;
}

.paquete2 input:hover {
    border-color: green;
}

.paquete2 input:focus {
    border-color: darkgreen;
}

/* Reset Select */
.paquete2 select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
    font-family: 'Baloo Da 2', cursive;
    font-size: 15px;
    outline: none;
}
  /* Remove IE arrow */
.paquete2 select::-ms-expand {
    display: none;
}
  /* Custom Select */
.paquete2 .select {
    position: relative;
    display: flex;
    width: 320px;
    height: 2.5em;
    line-height: 3;
    background: #2c3e50;
    overflow: hidden;
    border-radius: .25em;
    font-family: 'Baloo Da 2', cursive;
    outline: none;
}
.paquete2 select {
    flex: 1;
    padding: 0 .5em;
    color: whitesmoke;
    cursor: pointer;
    outline: none;
}
  /* Arrow */
.paquete2 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #34495e;
    cursor: pointer;
    pointer-events: none;
    -webkit-transition: .25s all ease;
    -o-transition: .25s all ease;
    transition: .25s all ease;
}
  /* Transition */
.paquete2 .select:hover::after {
    color: limegreen;
}

.paquete2 button{
    color: white;
    border-radius: 10px;
    background-color: darkgreen;
    border:none;
    padding: .5rem 1.25rem;;
    font-size: 16px;
    text-align: center;
    outline: none;
}

.paquete2 .cancelar{
    background-color: #34495e;
    margin-left: 1rem;
}

.paquete2 button:hover{
    background-color: #008700;
}

.paquete2 .cancelar:hover{
    background-color: #496785;
}

.paquete2 button i {
    margin-right: 4px;
}

.paquete2 .msg{
    width: 325px;
}
